/* Activation */
div.usercamp-message {
	overflow: hidden;
	position: relative;
	border-left-color: rgba(66, 133, 193, 0.6) !important;
}

div.usercamp-message p {
	max-width: 700px;
}

div.usercamp-message p:last-child {
	max-width: inherit;
}

.usercamp-message .button-primary {
	background: rgb(91, 157, 217);
	border-color: rgb(66, 133, 193);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 rgb(66, 133, 193);
	color: #fff;
	text-shadow: 0 -1px 1px rgb(66, 133, 193), 1px 0 1px rgb(66, 133, 193), 0 1px 1px rgb(66, 133, 193), -1px 0 1px rgb(66, 133, 193);
}

.usercamp-message .button-primary:active,
.usercamp-message .button-primary:focus,
.usercamp-message .button-primary:hover {
	background: rgb(66, 133, 193);
	border-color: rgb(66, 133, 193);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 rgb(66, 133, 193);
}

.usercamp-message a.usercamp-message-close {
	position: static;
	float: right;
	top: 0;
	right: 0;
	padding: 0 15px 10px 28px;
	margin-top: -10px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;
}

.usercamp-message a.usercamp-message-close::before {
	position: relative;
	top: 18px;
	left: -20px;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.usercamp-message .button-primary,
.usercamp-message .button-secondary {
	text-decoration: none!important;
}