/* jQuey tiptip */
#tiptip_holder {
	display: none;
	z-index: 8675309;
	position: absolute;
	top: 0;
	left: 0;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: #666;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: #666;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: #666;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: #666;
}

#tiptip_content {
	color: #fff;
	font-size: 12px;
	font-family: Arial;
	font-weight: 400;
	max-width: 150px;
	background: #666;
	text-align: center;
	border-radius: 3px;
	padding: .4em 1em;
}

#tiptip_arrow,
#tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

/* jQuery toggles */
.uc-toggle {
	width: 2.8em;
	height: 1.2em;
}

.toggle-slide {
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	direction: ltr;
	text-align: center;
	border-radius: 3px;
}

div.disabled > .toggle-slide {
	opacity: 0.7;
	pointer-events: none;
}

.toggle-slide .toggle-on,
.toggle-slide .toggle-off,
.toggle-slide .toggle-blob {
	float: left;
}

.toggle-slide .toggle-blob {
	position: relative;
	z-index: 99;
	background: #fff;
	border: 1px solid #aaa;
	cursor: grab;
	border-radius: 3px;
	box-sizing: border-box;
}

.toggle-on {
	border-radius: 3px 0 0 3px;
	background: rgb(91, 157, 217);
}

.toggle-off {
	border-radius: 0 3px 3px 0;
	background: #eee;
}

.toggle-on:after,
.toggle-off:after {
	background: rgb(0, 115, 187);
	height: 10%;
	content: '';
	display: block;
	border-radius: 3px;
}

.toggle-off:after {
	background: #ddd;
}

/* Animated checkmark */
.usercamp svg.checkmark {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #fff;
	stroke-miterlimit: 10;
	margin: 1em auto;
	text-align: center;
	box-shadow: inset 0px 0px 0px rgb(110, 224, 121);
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.usercamp svg.checkmark .checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: rgb(110, 224, 121);
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.usercamp svg.checkmark .checkmark__check {
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	transform-origin: 50% 50%;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes scale {
	0%, 100% {
		transform: none;
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}
@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px rgb(110, 224, 121);
	}
}

/* Core */
.usercamp,
.usercamp * {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0 !important;
	line-height: 1;
	float: none;
}

.usercamp ::-webkit-input-placeholder {
	color: #bbb;
}
.usercamp :-moz-placeholder {
	color: #bbb;
	opacity: 1;
}
.usercamp ::-moz-placeholder {
	color: #bbb;
	opacity: 1;
}
.usercamp :-ms-input-placeholder {
	color: #bbb;
}

.usercamp,
.usercamp input[type=text],
.usercamp input[type=text]:hover,
.usercamp input[type=text]:focus,
.usercamp input[type=password],
.usercamp input[type=password]:hover,
.usercamp input[type=password]:focus,
.usercamp textarea,
.usercamp textarea:hover,
.usercamp textarea:focus {
	color: #666;
}

.usercamp svg {
	fill: transparent;
}

.usercamp {
	padding: 1.475em 0;
	font-size: 0.85em;
}

.usercamp::after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.usercamp-form {
	max-width: 450px;
}

.usercamp-text {
	line-height: 1.6em;
	padding: 0 0 1em 0;
	color: rgba(0, 0, 0, 0.4);
}

/* Message box */
.usercamp-message,
.usercamp-error,
.usercamp-info {
	font-size: 1.1em;
	line-height: 1.6em;
	margin: 0 0 1em 0;
	font-weight: 700;
	text-align: center;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}

.usercamp-error {
	color: rgb(187, 0, 0);
}

.usercamp-info {
	color: #999;
}

ul.usercamp-error li {
	margin: 0 0 0 1.675em;
	padding: 3px 0;
	list-style-type: disc;
	line-height: 1.4em;
	font-size: 0.9em;
	text-align: left;
	color: #999;
	font-weight: 400;
}

ul.usercamp-error li.usercamp-error-header {
	list-style-type: none;
	font-weight: 700;
	color: rgb(187, 0, 0);
}

/* Buttons */
.usercamp-buttons {
	padding: 1em 0 0 0;
}

.usercamp-buttons::after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.usercamp-buttons a.usercamp-button {
	float: left;
	width: 48%;
}

.usercamp-buttons a.usercamp-button:first-child {
	margin-right: 4%;
}

.usercamp-buttons.usercamp-butttons-1 a.usercamp-button {
	padding: 0.5em 0.8em;
	width: auto;
	margin: 0;
}

a.usercamp-button {
	display: inline-block;
	text-align: center;
	padding: 0.675em 0;
	text-decoration: none !important;
	transition: none;
	border-radius: 3px;
	box-sizing: border-box;
	font-weight: 700;
}

a.usercamp-button.main {
	background: rgb(91, 157, 217);
	color: #fff !important;
	border: 1px solid rgb(91, 157, 217);
}

a.usercamp-button.main:hover {
	background: rgb(66, 133, 193);
	border: 1px solid rgb(66, 133, 193);
}

a.usercamp-button.main:focus,
a.usercamp-button.main:active {
	background: rgb(0, 115, 187);
	border: 1px solid rgb(0, 115, 187);
}

a.usercamp-button.alt {
	background: #fff !important;
	color: #888;
	border: 1px solid #eee;
}

a.usercamp-button.alt:hover {
	color: #777;
	border: 1px solid #ddd;
}

a.usercamp-button.alt:focus,
a.usercamp-button.alt:active {
	color: #666;
	border: 1px solid #ccc;
}

a.usercamp-button.disabled {
	opacity: 0.3;
	cursor: default;
}

/* Fields */
.usercamp-field {
	padding: 0 0 1em 0;
}

.usercamp-label {
	margin: 0 0 0.5em 0;
	position: relative;
}

.usercamp-label.has-icon {
	padding-left: 1.675em;
}

.usercamp-label label {
	cursor: pointer;
	font-weight: 700;
	line-height: 1.4em;
}

.usercamp-label label.uc-error {
	color: rgb(187, 0, 0);
}

.usercamp-input {
	position: relative;
}

.usercamp-input input[type=checkbox] {
	position: absolute;
	left: -9999px;
}

.usercamp-input.has-icon input[type=text],
.usercamp-input.has-icon input[type=password],
.usercamp-input.has-icon textarea {
	padding-left: 2.5em;
}

.usercamp-input input[type=text],
.usercamp-input input[type=password],
.usercamp-input textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 8px 10px;
	margin: 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset !important;
	transition: 150ms border-color ease-in-out;
	border: 1px solid #eee !important;
}

.usercamp-input input[type=password] {
	padding-right: 2.5em;
}

.usercamp-input input[type=text]:focus,
.usercamp-input input[type=password]:focus,
.usercamp-input textarea:focus {
	border: 1px solid #bbb !important;
}

.usercamp-input input:-internal-autofill-previewed,
.usercamp-input input:-internal-autofill-selected,
.usercamp-input input:-internal-autofill-previewed:focus,
.usercamp-input input:-internal-autofill-selected:focus {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset, 0 0 0 50px white inset !important;
	-webkit-text-fill-color: #666 !important;
}

.usercamp-input input[type=text].uc-error,
.usercamp-input input[type=password].uc-error,
.usercamp-input textarea.uc-error {
	border: 1px solid rgba(187, 0, 0, 0.8) !important;
	background: rgba(187, 0, 0, 0.04) !important;
	color: rgb(187, 0, 0) !important;
}

.usercamp-input input.uc-error:-internal-autofill-previewed,
.usercamp-input input.uc-error:-internal-autofill-selected {
	box-shadow: 0 0 0 50px white inset !important;
	-webkit-text-fill-color: rgb(187, 0, 0) !important;
}

/* Password visibility and icons */
.usercamp-label .uc-icon,
.usercamp-input .uc-icon,
.uc-pw-visible {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	width: 2.5em;
	height: 100%;
	text-align: center;
}

.usercamp-label .uc-icon svg,
.usercamp-input .uc-icon svg,
.uc-pw-visible svg {
	display: block;
	margin: auto;
	width: 1em;
	height: 100%;
}

.usercamp-label .uc-icon svg {
	margin: 0;
}

.uc-pw-visible {
	left: auto;
	right: 0;
}

/* Nav */
.usercamp-nav {
	float: left;
	width: 30%;
	background: #fff;
}

.usercamp-nav li {
	list-style-type: none;
}

.usercamp-nav li svg {
	position: absolute;
	right: 6px;
	top: 50%;
	width: 1.2em;
	height: 1.2em;
	margin-top: -.6em;
}

.usercamp-nav li:first-child a {
	border-top: 1px solid rgba(91, 157, 217, 0.16);
}

.usercamp-nav li a {
    position: relative;
    display: block;
    padding: 8px 1.6em 8px 12px;
    color: rgb(102, 117, 127);
	border: 1px solid rgba(91, 157, 217, 0.16);
    border-top: 0;
	text-decoration: none !important;
	line-height: 1.4em;
	position: relative;
}

.usercamp-nav li a:hover,
.usercamp-nav li a:focus,
.usercamp-nav li a:active {
	color: rgb(91, 157, 217);
	background: rgba(91, 157, 217, 0.03);
	text-decoration: none !important;
}

.usercamp-nav li a:focus {
	text-decoration: underline !important;
	font-weight: 700;
}

.usercamp-nav li a:focus:hover {
	text-decoration: none !important;
}

.usercamp-nav li.is-active a {
	color: #444;
	font-weight: 700;
}

.usercamp-nav li.is-active a:hover,
.usercamp-nav li.is-active a:focus,
.usercamp-nav li.is-active a:active {
	color: rgb(91, 157, 217);
	background: rgba(91, 157, 217, 0.03);
	text-decoration: none !important;
}

/* Content */
.usercamp-content {
	float: left;
	width: 70%;
	box-sizing: border-box;
	padding: 0 3em;
}

.usercamp-content h3 {
	margin: 0 0 1em;
	padding: 0 0 .475em;
	border-bottom: 1px solid #eee;
	font-size: 1.4em;
}