/* jQuey tiptip */
#tiptip_holder {
	display: none;
	z-index: 8675309;
	position: absolute;
	top: 0;
	left: 0;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: #666;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: #666;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: #666;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: #666;
}

#tiptip_content {
	color: #fff;
	font-size: 12px;
	font-family: Arial;
	font-weight: 400;
	max-width: 150px;
	background: #666;
	text-align: center;
	border-radius: 3px;
	padding: .4em 1em;
}

#tiptip_arrow,
#tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

/* Core */
.usercamp,
.usercamp * {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0 !important;
	line-height: 1;
	float: none;
}

.usercamp,
.usercamp input[type=text],
.usercamp input[type=text]:hover,
.usercamp input[type=text]:focus,
.usercamp input[type=password],
.usercamp input[type=password]:hover,
.usercamp input[type=password]:focus,
.usercamp textarea,
.usercamp textarea:hover,
.usercamp textarea:focus {
	color: #666;
}

.usercamp {
	font-size: 1em;
}

.usercamp form {
	margin: 0 auto;
	max-width: 450px;
	padding: 30px 0;
}

/* Elements */
.usercamp-text {
	line-height: 1.6em;
	padding: 0 0 20px 0;
	color: rgba(0, 0, 0, 0.4);
}

/* Message box */
.usercamp-message,
.usercamp-error,
.usercamp-info {
	padding: 12px;
	border-radius: 3px;
	background: rgba(187, 0, 0, 0.05);
	border: 1px solid rgba(187, 0, 0, 0.1);
	margin: 0 0 20px 0;
	font-size: 0.9em;
}

.usercamp-message,
.usercamp-info {
	padding: 15px;
	background: #fff;
	border: 1px solid rgba(60, 118, 61, 0.25);
	line-height: 1.4em;
}

.usercamp-info {
	background: #fcfcfc;
	border: 1px solid #ececec;
	color: #999;
}

.usercamp-error li {
	margin: 0 0 0 40px;
	line-height: 1.4em;
	padding: 3px 0;
	list-style-type: disc;
}

.usercamp-error li.usercamp-error-header {
	list-style-type: none;
	font-weight: bold;
}

/* Buttons */
.usercamp-buttons {
	padding: 20px 0 0 0;
}

.usercamp-buttons::after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.usercamp-buttons a.usercamp-button {
	float: left;
	width: 48%;
}

.usercamp-buttons a.usercamp-button:first-child {
	margin-right: 4%;
}

a.usercamp-button {
	display: inline-block;
	text-align: center;
	padding: 0.675em 0;
	text-decoration: none !important;
	transition: none;
	border-radius: 3px;
	box-sizing: border-box;
	font-weight: 600;
}

a.usercamp-button.main {
	background: rgb(91, 157, 217);
	color: #fff !important;
	border: 1px solid rgb(91, 157, 217);
}

a.usercamp-button.main:hover {
	background: rgb(66, 133, 193);
	border: 1px solid rgb(66, 133, 193);
}

a.usercamp-button.main:focus,
a.usercamp-button.main:active {
	background: rgb(0, 115, 187);
	border: 1px solid rgb(0, 115, 187);
}

a.usercamp-button.alt {
	background: #fff !important;
	color: #888;
	border: 1px solid #eee;
}

a.usercamp-button.alt:hover {
	color: #777;
	border: 1px solid #ddd;
}

a.usercamp-button.alt:focus,
a.usercamp-button.alt:active {
	color: #666;
	border: 1px solid #ccc;
}

a.usercamp-button.disabled {
	opacity: 0.3;
	cursor: default;
}

/* Fields */
.usercamp-field {
	padding: 0 0 20px 0;
}

.usercamp-label {
	margin: 0 0 8px 0;
}

.usercamp-label.has-icon {
	position: relative;
	padding-left: 25px;
}

.usercamp-label .uc-icon svg {
	position: absolute;
	left: 0;
	color: #999;
	top: 2px;
	width: 18px;
	height: 18px;
}

.usercamp-label label {
	cursor: pointer;
	font-weight: 600;
	line-height: 1.4em;
}

.usercamp-label label.uc-error {
	color: rgba(187, 0, 0);
}

.usercamp-input {
	position: relative;
}

.usercamp-input .uc-icon svg {
	position: absolute;
	left: 12px;
	color: #bbb;
	top: 8px;
	width: 18px;
	height: 18px;
}

.usercamp-input.has-icon input[type=text],
.usercamp-input.has-icon input[type=password],
.usercamp-input.has-icon textarea {
	padding-left: 36px;
}

.usercamp-input input[type=text],
.usercamp-input input[type=password],
.usercamp-input textarea {
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	margin: 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.05) inset !important;
	transition: 50ms border-color ease-in-out;
	border: 1px solid #eee;
}

.usercamp-input input[type=text]:hover,
.usercamp-input input[type=password]:hover,
.usercamp-input textarea:hover {
	border: 1px solid #eee;
}

.usercamp-input input[type=text]:focus,
.usercamp-input input[type=password]:focus,
.usercamp-input textarea:focus {
	border: 1px solid #ddd;
}

.usercamp-input input[type=text].uc-error,
.usercamp-input input[type=password].uc-error,
.usercamp-input textarea.uc-error {
	border: 1px solid rgba(187, 0, 0, 0.8) !important;
	background: rgba(187, 0, 0, 0.04) !important;
	color: rgba(187, 0, 0) !important;
}

.usercamp-input input[type=text]:-internal-autofill-previewed,
.usercamp-input input[type=text]:-internal-autofill-selected,
.usercamp-input input[type=password]:-internal-autofill-previewed,
.usercamp-input input[type=password]:-internal-autofill-selected {
	box-shadow: 0 1px 2px rgba(0,0,0,.05) inset, 0 0 0 50px white inset !important;
	-webkit-text-fill-color: #666 !important;
}

/* Password visibility */
.uc-pw-visible {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	height: 34px;
	width: 50px;
	text-align: center;
}

.uc-pw-visible svg {
	position: relative;
	top: 8px;
	width: 18px;
	height: 18px;
}